.newsletterouterbox{
  margin-left:23%;  
}
.canvasholder2
{
    background-color: #e8f1fd;
    margin-top:5%;
    height: 830px;
    width: 830px;
}
.textplace2{
    margin-left: 4px;
    margin-right: 4px;
    outline: 2px solid black;
    border-radius: 5px;
    margin-top: 13px;

}